In [20]:
import torch
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/gscdit/Breast-Cancer-Detection/refs/heads/master/data.csv')
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [52]:
df.shape

(569, 33)

In [55]:
df.drop(columns=['id', 'Unnamed: 32'], inplace= True)

In [56]:
df.head()

  diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0         M        17.99  ...          0.4601                  0.11890
1         M        20.57  ...          0.2750                  0.08902
2         M        19.69  ...          0.3613                  0.08758
3         M        11.42  ...          0.6638                  0.17300
4         M        20.29  ...          0.2364                  0.07678

[5 rows x 31 columns]

In [57]:
df.shape

(569, 31)

In [59]:
X_train , X_test , y_train , y_test = train_test_split(df.iloc[: , 1:] , df.iloc[: , 0] , test_size=0.2)

In [60]:
scaler = StandardScaler()
encoder = LabelEncoder()

In [62]:
X_train_transform = scaler.fit_transform(X_train)
X_test_transform = scaler.transform(X_test)

In [66]:
y_train

456    B
181    M
326    B
459    B
337    M
      ..
98     B
333    B
551    B
148    B
311    B
Name: diagnosis, Length: 455, dtype: object

In [67]:
y_train_transform = encoder.fit_transform(y_train)
y_test_transform = encoder.transform(y_test)

In [68]:
y_train_transform

array([0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0])

In [69]:
X_train_tensor = torch.from_numpy(X_train_transform)
y_train_tensor = torch.from_numpy(y_train_transform)
X_test_tensor = torch.from_numpy(X_test_transform)
y_test_tensor = torch.from_numpy(y_test_transform)

In [70]:
X_train_tensor.dtype

torch.float64

In [71]:
y_train_tensor.dtype

torch.int64

In [78]:
class MySimpleNN():

  def __init__(self, X):

    self.weights = torch.rand(X.shape[1], 1, dtype=torch.float64, requires_grad=True)
    self.bias = torch.zeros(1, dtype=torch.float64, requires_grad=True)

  def forward(self, X):
    z = torch.matmul(X, self.weights) + self.bias
    y_pred = torch.sigmoid(z)
    return y_pred

  def loss_function(self, y_pred, y):
    # Clamp predictions to avoid log(0)
    epsilon = 1e-7
    y_pred = torch.clamp(y_pred, epsilon, 1 - epsilon)

    # Calculate loss
    loss = -(y_train_tensor * torch.log(y_pred) + (1 - y_train_tensor) * torch.log(1 - y_pred)).mean()
    return loss

In [79]:
learning_rate = 0.1
epochs = 25

In [80]:
# create model
model = MySimpleNN(X_train_tensor)

# define loop
for epoch in range(epochs):

  # forward pass
  y_pred = model.forward(X_train_tensor)

  # loss calculate
  loss = model.loss_function(y_pred, y_train_tensor)

  # backward pass
  loss.backward()

  # parameters update
  with torch.no_grad():
    model.weights -= learning_rate * model.weights.grad
    model.bias -= learning_rate * model.bias.grad

  # zero gradients
  model.weights.grad.zero_()
  model.bias.grad.zero_()

  # print loss in each epoch
  print(f'Epoch: {epoch + 1}, Loss: {loss.item()}')

Epoch: 1, Loss: 3.695666062875775
Epoch: 2, Loss: 3.5715866623422152
Epoch: 3, Loss: 3.4382225471989
Epoch: 4, Loss: 3.3009434524103547
Epoch: 5, Loss: 3.159360392469845
Epoch: 6, Loss: 3.015541191668479
Epoch: 7, Loss: 2.8703914028633832
Epoch: 8, Loss: 2.7188066871227825
Epoch: 9, Loss: 2.564373106387487
Epoch: 10, Loss: 2.4070971509751615
Epoch: 11, Loss: 2.245496516973393
Epoch: 12, Loss: 2.082767405877417
Epoch: 13, Loss: 1.9244238000253997
Epoch: 14, Loss: 1.7680826840860109
Epoch: 15, Loss: 1.616164129440432
Epoch: 16, Loss: 1.4749771576192643
Epoch: 17, Loss: 1.3412496841732338
Epoch: 18, Loss: 1.2188244000086454
Epoch: 19, Loss: 1.1143707672868668
Epoch: 20, Loss: 1.028472495237183
Epoch: 21, Loss: 0.9604699263051626
Epoch: 22, Loss: 0.9084437941947016
Epoch: 23, Loss: 0.8696132028597234
Epoch: 24, Loss: 0.8409472176866104
Epoch: 25, Loss: 0.8196906998068796

In [81]:
model.bias

tensor([-0.0947], dtype=torch.float64, requires_grad=True)

In [82]:
# model evaluation
with torch.no_grad():
  y_pred = model.forward(X_test_tensor)
  y_pred = (y_pred > 0.9).float()
  accuracy = (y_pred == y_test_tensor).float().mean()
  print(f'Accuracy: {accuracy.item()}')

Accuracy: 0.6360418796539307